doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Create New Pet Record
    p
      a(href='/') Return to the dashboard
    hr

    if error
      p(style='color: red;')= error

    // Form POSTs data to the app.post('/update-cobj') route
    form(action='/update-cobj', method='POST')
      fieldset
        legend Pet Details

        label(for='petName') Pet Name (Internal: name)
        // CRITICAL: The 'name' attribute must match the properties used in index.js
        input(type='text', id='petName', name='petName', required)
        
        label(for='petType') Pet Type (Internal: type)
        input(type='text', id='petType', name='petType', required)
        
        label(for='petBio') Pet Bio (Internal: bio)
        input(type='text', id='petBio', name='petBio')
        
        button(type='submit') Create Pet Record