doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Create New Pet Record
    p
      a(href='/') Return to the dashboard
    hr

    if error
      p(style='color: red;')= error

    div.formdiv
      form(action='/update-cobj', method='POST')
        fieldset
          legend Pet Details

          label(for='petName') Pet Name (Internal: name)
          input(type='text', id='petName', name='petName', required, placeholder='e.g., Fido')
          
          label(for='petType') Pet Type (Internal: type)
          input(type='text', id='petType', name='petType', required, placeholder='e.g., Dog, Cat')
          
          label(for='petBio') Pet Bio (Internal: bio)
          input(type='text', id='petBio', name='petBio', required, placeholder='e.g., Loves to play fetch.')
          
          button(type='submit') Create Pet Record


        