@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1rem;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    flex-basis: 31%;
    margin: 1rem 0.4rem;
    padding: 1rem 0.4rem 2.5rem 0.4rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: white;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}


table {
    width: 90%; 
    max-width: 800px;
    margin: 2rem auto; 
    border-collapse: separate; 
    border-spacing: 0;
    border: 1px solid #333; 
}

thead {
    background-color: #f7a9a9; 
}

th {
    padding: 10px;
    text-align: left;
    
}

td {
    padding: 10px;
    border: 1px solid #333; 
}

th {
    font-weight: bold;
}

table, thead, th, td {
    border-radius: 0; 
}

a{
        font-size: 20px;
        color: blue;
        padding: 10px;
}

.formdiv{
    width: 50%;
    margin: auto;
}
fieldset{
    border: 2px solid lightgrey;
    padding: 1.5rem;
    border-radius: 10px;
}
button{
    margin-top: 10px;
    padding: .5rem 1rem;
    font-size: 16px;
    background-color: black;
    color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
legend{
    font-size: 1.2rem;
    font-weight: bold;
}